<html>
    <head>
        <link rel="stylesheet"
              href="https://unpkg.com/@universis/theme@1.0.5/css/universis.css"
              integrity="sha384-GcIMWx3Jq0rHFUoV9TxtmxKkYHxwNoaXhDb/sNO7H6s6X34p02LJyfVwnH2B61sl"
              crossorigin="anonymous">
        <style>
        </style>
    </head>
    <body>
        <h1>A test message</h1>
        <p>
            <%=message%>
        </p>
    </body>
</html>
